#poststuff  h3 a {
    font-size: 14px;
    margin: 0;
    line-height: 1.4;
    color: #222;
    text-decoration: none;
}
#poststuff  h3 a:hover {
    color: #444;
}
.js .postbox h3.wpad_list_heading:hover{
    cursor: default;
}
.wpad_listing .wpad_list_heading:hover{
}
.wpad_listing {
    width: 100%;
    float: none;
    margin-left: 0;
}
@media screen and (min-width: 900px){
    .wpad_listing {
        width: 48%;
        float: left;
        margin-left: 1em;
    }
}
.wpad_listing .inside{
    padding-bottom: 0.5em;
}
.wpad_listing .inside:before,
.wpad_listing .inside:after {
    content: " ";
    display: table;
}
.wpad_listing .inside:after {
    clear: both;
}
.wpad_listing .inside li{
    float: left;
    margin-right: 1em;
}
#wp-admin-bar-wp-admin-dir-directory .dashicons-list-view:before {
    font-family: "dashicons";
    content: "\f163";
    -webkit-font-smoothing: antialiased;
    font: normal 20px/1 'dashicons';
    padding-right: 0.5em;
    position: relative;
    top: 5px;
    color: #999;
}
#wp-admin-bar-wp-admin-dir-directory a:hover .dashicons-list-view:before{
    color: #2ea2cc;
}