.dashicons-list-view:before {
    font-family: "dashicons";
    content: "\f163";
    -webkit-font-smoothing: antialiased;
    font: normal 20px/1 'dashicons';
    padding-right: 0.5em;
    position: relative;
    top: 5px;
    color: #999;
}
#wp-admin-bar-wp-admin-dir-directory a:hover .dashicons-list-view:before{
    color: #2ea2cc;
}